/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Mar-2018, 09:31:58
    Author     : Peter Clarke
*/

:root {
    --first-column-width: 100px;
}



body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
}

/* The menu item container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-menu {
    position: fixed;
    top: 0;
    max-width: 99%;
    min-width: 99%;
    height: 22px;
    background-color: whitesmoke;

}
.ui-menu-item {
    background-color: #34675C;
    color:white;
    display: inline-block;
}
   
/* unvisited link */
    .ui-menu-item > a:link {
        color: white;
        text-decoration: none;
    }

/* visited link */
    .ui-menu-item > a:visited {
        color: white;
        text-decoration: none;
    }

/* mouse over link */
    .ui-menu-item > a:hover {
        color: white;
        text-decoration: none;
    }

/* selected link */
    .ui-menu-item > a:active {
        color: white;
        text-decoration: none;
    }

#board {
    /* display: table;*/
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;
    -moz-transform: scale(1.0, 1.0);
    zoom: 1.0;
    zoom: 100%;
}
#boardheader {
    display: flex;
    flex-direction: row;
}
#headingcontainer {
    display: flex;
    flex-direction: column;
    width: var(--first-column-width);
    margin: 2px;
}
.groupcontainer {
    display: flex;
    flex-direction: column;
}
#grouparraycontainer {
    display: flex;
    flex-direction: row;
}
.groupcolumns {
    display: flex;
    flex-direction: row;
}
.rowgroups {
    display: flex;
    flex-direction: row;
}
.rowheader {
    display: flex;
    height: inherit;
    width: var(--first-column-width);
    margin-right: 2px;
}
#infobox {
    position: fixed;
    right: 0;
    top: 20px;
    width: 30%;
    min-width: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: whitesmoke;
    border-left: 3px solid lightgray;
}
#toggledetails {
    position: fixed;
    top: 70px;
    right: 30%;
    width: 30px;
    height: 60px;
    min-width: 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: whitesmoke;
    writing-mode: vertical-rl;
}
#toggledetails.hidden {
    position: fixed;
    right: 0;
}
   
    #infobox.hidden {
        display: none;
    }


#blockname {
    height: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
#blockdetails {
    overflow-y: auto;
    width: 100%;
    height: 80%;
    background-color: whitesmoke;
    color: gray;
    padding: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}


.row {
    /* display: table-row;*/
    display: flex;
    flex-direction: row;
    margin:2px;   
}

.releaserow {
   
}

.cell {
    /*   display: table-cell;*/
    display: flex;
    vertical-align: top;
 
}
.cell-flex-container {
    display: flex;
    height: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.grouprelease {
    background-color: white;
}

#theader {
    /*   display: table-header-group;*/
    display: flex;
    flex-direction: column;
}
#boardheader{
    position: sticky;
    top: 22px
   
}
#rows {
    /*  display: table-row-group;*/
    display: flex;
    flex-direction: column;
}

#groups {
    /* display: table-row;*/
    display: flex;
    flex-direction: row;
    background-color: white;
}

#groupsheading {
   
    display: flex;
    flex-direction: row;
 
}

.groupsheadingtext {
    width: var(--first-column-width);
    height: 25px;
    text-align: right;
    background-color: transparent;
    color: #B7B8B6;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
    float: right;
}
.groupline {
    display: flex;
    flex-direction: row;
}

.columnheader {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    min-width: 20px;
    min-height: 80px;
    max-height: 80px;
}

    .columnheader li {
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        margin: 2px;
    }
.columnheaderheading {
    height: 76px;
    width: var(--first-column-width);
    text-align: left;
    float: right;
    background-color: transparent;
    vertical-align: top;
    margin: 2px;
}

.columnheaderheadingtext {
    max-width: var(--first-column-width);
    height: 76px;
    text-align: right;
    background-color: transparent;
    color: #4CB5F5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    /*writing-mode: vertical-rl;*/
    display: inline-block;
    text-align: center;
    float: right;
}
.rowsheadingtext {
    width: var(--first-column-width);
    max-width: var(--first-column-width);
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: bottom;
    float: left;
    text-align: left;
    background-color: transparent;
    color: #34675C;
    overflow: hidden;
    margin: 2px;
}
.itemsheadingtext {
    width: 150px;
    max-width: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: bottom;
    float: left;
    margin: 2px;
    color: #B3C100;
    background-color:transparent;
}

.addColumn {
    width: 16px;
    height: 76px;
    padding: 2px;
    text-align: center;
    background-color: transparent;
    display: inline-block;
    color: gainsboro;
    cursor: pointer;
    writing-mode: vertical-rl;
}
.addGroup {
    width: 16px;
    height: 16px;
    padding: 2px;
    text-align: center;
    background-color: transparent;
    display: inline-block;
    color: gainsboro;
    cursor: pointer;
    writing-mode: vertical-rl;
}
.epic {
    vertical-align: top;
    min-height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin:2px;
}
    .epic ul {
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
        flex-grow: 1;
        min-height:10px;

    }

    .epic li {
        float: left;
       
    }


.stories {
    /*width: 150px;
    min-height: 10px;
    text-align: left;
    float: left;*/
}

.addStory {
    text-align: center;
    vertical-align: top;
    float: left;
    cursor: pointer;
    min-height:20px;
    margin:3px;
}
textarea {
    width: 150px;
    height: 80px;
    text-align: left;
    background-color: lightgray;
    box-sizing: border-box;
    float: left;
}
.releasename {
    height: 80px;
    
    /*
    text-align: center;
    caption-side: top;
    height: 20px;
    width: 80px;
    padding-right:5px;
        */
}
.newrelease {
    /* display: table-footer-group;*/
    display: flex;
    flex-direction: row;
    caption-side: bottom;
    text-align: center;
    height: 20px;
}
.addrelease {
    text-align: left;
    float: left;
    width: 100%;
    color: gray;
    cursor: pointer;
}

.groupblock {
    width: 150px;
}

.selected {
   /* background-color: #f2f2f2;*/
    background-color: lightgrey;
    height: 80px;
    width: 150px;
    margin: 0;
    padding: 0;
}
.ui-sortable-placeholder {
    border: 3px dashed #aaa;
    height: 80px;
    width: 150px;
    background: #ccc;
}
.title {
    text-align: left;
    font-weight: bold;
    padding: 5px;
    height:15px;
}
