/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Mar-2018, 09:31:58
    Author     : Peter Clarke
*/


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
}

/* The menu item container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-menu {
    position: fixed;
    top: 0;
    max-width: 99%;
    min-width: 99%;
    height: 22px;
    background-color: whitesmoke;

}
.ui-menu-item {
    background-color: #34675C;
    color:white;
    display: inline-block;
}
   
/* unvisited link */
    .ui-menu-item > a:link {
        color: white;
        text-decoration: none;
    }

/* visited link */
    .ui-menu-item > a:visited {
        color: white;
        text-decoration: none;
    }

/* mouse over link */
    .ui-menu-item > a:hover {
        color: white;
        text-decoration: none;
    }

/* selected link */
    .ui-menu-item > a:active {
        color: white;
        text-decoration: none;
    }

#board {
    display: table;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;
    -moz-transform: scale(1.0, 1.0);
    zoom: 1.0;
    zoom: 100%;
}

#infobox {
    position: fixed;
    bottom: 0;
    max-width: 99%;
    min-width: 99%;
    max-height: 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color:whitesmoke;
}

    #infobox.edit {
        max-height: 80%;
    }
#blockname {
   border: 1px solid black;
}
#blockdetails {
    overflow-y: auto;
    background-color: whitesmoke;
    color: gray;
    padding: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

#blockdetails.hidden {
    display: none;
    height:0px;
}
.row {
    display: table-row;
}

.releaserow:nth-child(even) {
    background-color: #f2f2f2;
}

.cell {
    display: table-cell;
    vertical-align: top;
    width:10px;
}

.grouprelease {
    width: 80px;
}

#theader {
    display: table-header-group;
}
#columnheaderrow .grouprelease.cell {
    position: sticky;
    top: 22px;
   
}
#rows {
    display: table-row-group;
}

#groups {
    display: table-row;
    background-color: white;
}

.groupsheading {
    height: 76px;
    text-align: left;
    float: right;
    background-color: transparent;
    padding-left: 4px;
    vertical-align: top;
}

.groupsheadingtext {
    max-width: 150px;
    height: 76px;
    text-align: left;
    background-color: #B7B8B6;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    writing-mode: vertical-rl;
    display: inline-block;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: right;
}

.columnheader {
    overflow-x: hidden;
    overflow-y: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    min-width: 20px;
    min-height: 80px;
    max-height: 80px;
}

    .columnheader li {
      display: inline-block;
    }
.columnheaderheading {
  
    height: 76px;
    text-align: left;
    float: right;
    background-color:transparent;
    padding-left: 4px;
    vertical-align: top;
}

.columnheaderheadingtext {
    max-width:150px;
    height: 76px;
    text-align: left;
    background-color: #4CB5F5;
    color:white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    writing-mode: vertical-rl;
    display: inline-block;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: right;
}
.rowsheadingtext {
    width: 150px;
    max-width: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: bottom;
    float: left;
    text-align: center;
    background-color: #34675C;
    color: white;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.itemsheadingtext {
    width: 150px;
    max-width: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: bottom;
    float: left;
}

.addColumn {
    width: 16px;
    height: 80px;
    text-align: center;
    background-color: transparent;
    display: inline-block;
    color: gainsboro;
    cursor: pointer;
    writing-mode: vertical-rl;
}
.epic {
    display: inline-block;
    vertical-align: top;
    height:100%;
    white-space:normal;
    overflow:hidden;
}
.epic ul {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

    .epic li {
         float:left;
       
    }


.stories {
    /*width: 150px;*/
    min-height: 10px;
    text-align: left;
    float: left;
}

.addStory {
    width: 150px;
    height: 100%;
    text-align: center;
    vertical-align:top;
    float:left;
    color:gainsboro;
    cursor:pointer;
}
textarea {
    width: 150px;
    height: 80px;
    text-align: left;
    background-color: lightgray;
    box-sizing: border-box;
    float: left;
}
.releasename {
    height: 80px;
    
    /*
    text-align: center;
    caption-side: top;
    height: 20px;
    width: 80px;
    padding-right:5px;
        */
}
.newrelease {
    display: table-footer-group;
    caption-side: bottom;
    text-align: center;
    height: 20px;

}
.addrelease {
    text-align: left;
    float: left;
    width: 100%;
    color: gray;
    cursor: pointer;
}

.rowblock {
    width: 100px;
}

.selected {
    opacity: 0.2;
    background-color:green;
}
.title {
    text-align: left;
    font-weight: bold;
    padding: 5px;
    height:15px;
}
